    .chat-message-user {
      display: flex;
      justify-content: right;
      align-items: start;
    }

    .chat-message-robot {
      display: flex;
      align-items: start;
    }

    .chat-message-text {
      position: relative;
      background-color: rgb(238, 238, 238);
      padding: 15px 20px;
      border-radius: 10px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 20px;
      max-width: 300px;
    }

    .chat-message-profile {
      width: 45px;
    }

    .chat-message-profile-user {
      height: 45px;
      border-radius: 45px;
      object-fit: cover;
    }

    .message-time {
      position: absolute;
      bottom: 4px;
      left: 8px;
      font-size: 11px;
      opacity: 0.6;
      color: rgb(47, 44, 44);
    }