.heading {
  font-size: 40px;
  margin: 0px;
}

.input-field {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  margin: 5px;
}

.buttons {
  background-color: rgb(0, 123, 255);
  border: none;
  color: white;
  margin: 10px 5px;
  padding: 10px 15px;
  border-radius: 5px;
}