

    .app-container{
      max-width: 600px;
      margin-left: auto;
      margin:auto;
      height: 100vh;

      display: flex;
      flex-direction: column;
    }

    .welcome-message{
      color: rgb(120,120,120);
      text-align: center;
      font-size: 18px;
    }
